* {
    margin: 0;
    padding: 0;

}

:root {
    --c1: #FBFACD;
    --c2: #DEBACE;
    --c3: #BA94D1;
    --c4: #FBDBCDFF;
    --c5: #CDFBDEFF;
    --c6: #FBCDDFFF;
}
.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle at bottom, var(--c5), var(--c4), var(--c6), transparent),
    radial-gradient(circle at top, var(--c1), var(--c2), var(--c3), transparent);

}

.Input {
    margin: 10px;
    /*width: 300px;*/
    /*height: 30px;*/
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-evenly;
}

.ToDoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: auto;
    border-radius: 5px;
    padding: 10px;
}